{% extends 'template.html.twig' %}

{% block title %}Catégorie{% endblock %}
 {% block PageTitle %}Liste des catégories{% endblock %}
{% block body %}
<form class="form-horizontal">
<div class="table-responsive">
  <table class="table table-bordered table-striped table-highlight">
                    <thead>
                        <tr>
                            
                            <th>Description</th>
                            <th>Catégorie</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for categorie in categories %}
                            <tr>
                                <td>{{ categorie.description }}</td>
                                <td>{{ categorie.id }}</td>
                             
                                
                                
                                <td>
                                    <a href="#" class="btn btn-success">Modifier</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
        </div>
    </form>
{% endblock %}
