{% extends 'base.html.twig' %}

{% block title %}Hello PaymentController!{% endblock %}

{% block body %}

<form action="" method="POST">
<script
  src="https://checkout.fedapay.com/js/checkout.js"
  data-public-key="pk_live_0fkRnnMTf5EfPGbD8eP8SPx6"
  data-button-text="{{ total }}"
  data-button-class="button-class"
  data-transaction-amount="{{ total }}"
  data-transaction-description="Payer à restaurant la food"
  data-currency-iso="XOF"
  data-widget-description="Votre boutique 100% africaine"
  data-widget-image="https://live-checkout.fedapay.com/img/marketplace.svg"
  data-widget-title="Restaurant la Food">
</script>
</form>

{% endblock %}
